
.register-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #0645AD;
}

.register-button:hover {
    -fx-text-fill: #3675DD;
}